ErrorDocument 404 /templates/mvc/erro404.php

#<IfModule mod_headers.c>
#	Header set Access-Control-Allow-Origin "https://www.site.com.br"
#	Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
#	Header set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Authorization"
#</IfModule>


RewriteEngine On

#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

Options -Indexes